html, body {
    margin:0;
    padding:0;
    height:100%
    }
    
//body{font: 76% arial,sans-serif}

//p{margin:0 10px 10px}
a {
    display:block;
    color: #981793;
    padding:10px
}

div#header h1 {
    height:80px;
    line-height:80px;
    margin:0;
    padding-left:10px;
    background: #EEE;
    color: #79B30B
}

//div#navigation{background:#B9CAFF}
div#navigation {
    float:left;
    width:220px;
    padding:10px 10px 10px 10px;
}

div#extra {
    background:#FF8539
}
div#extra {
    float:left;
    clear:left;
    width:220px
}

div#footer {
    background: #333;
    color: #FFF
}
div#footer p {
    margin:0;
    padding:5px 10px
}
div#footer {
    clear:both;
    width:100%
}

div#wrapper {
    float:right;
    width:100%;
    margin-left:-220px
}

div#content {
    margin-left:220px;
    height:100%;
}
div#content p {
    line-height:1.4
}

#map_canvas {
    height: 100%
}

.paramTitle {
    display: inline;
    font-weight:bold;
}

.paramValue {
    display: inline;
}