<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <!-- Servlets -->
    <servlet>
        <servlet-name>Map</servlet-name>
        <servlet-class>it.rainbowbreeze.housemanager.servlet.MapServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Map</servlet-name>
        <url-pattern>/map</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>HeatMap</servlet-name>
        <servlet-class>it.rainbowbreeze.housemanager.servlet.HeatMapServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HeatMap</servlet-name>
        <url-pattern>/heatmap</url-pattern>
    </servlet-mapping>

    
    <!-- Task queues -->
    <servlet>
        <servlet-name>houseagentfullQueue</servlet-name>
        <servlet-class>it.rainbowbreeze.housemanager.servlet.HouseAgentFullQueueServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>houseagentfullQueue</servlet-name>
        <url-pattern>/admin/tasks/houseagentfull</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>houseagentsingleQueue</servlet-name>
        <servlet-class>it.rainbowbreeze.housemanager.servlet.HouseAgentSingleQueueServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>houseagentsingleQueue</servlet-name>
        <url-pattern>/admin/tasks/houseagentsingle</url-pattern>
    </servlet-mapping>
    
    <!-- Restrict access for all queues -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>taskQueues</web-resource-name>
            <url-pattern>/admin/tasks/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>


    <!-- Cron jobs -->
    <servlet>
        <servlet-name>RefreshData</servlet-name>
        <servlet-class>it.rainbowbreeze.housemanager.servlet.RefreshDataCronServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RefreshData</servlet-name>
        <url-pattern>/admin/cron/refreshdata</url-pattern>
    </servlet-mapping>
    
    <!-- Restrict access for all cronjobs -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>cronJobs</web-resource-name>
            <url-pattern>/admin/cron/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>

    
    
    <servlet>
        <servlet-name>SystemServiceServlet</servlet-name>
        <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
        <init-param>
            <param-name>services</param-name>
            <param-value/>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>SystemServiceServlet</servlet-name>
        <url-pattern>/_ah/spi/*</url-pattern>
    </servlet-mapping>

    
    <!-- Required by objectify -->
    <filter>
        <filter-name>ObjectifyFilter</filter-name>
        <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ObjectifyFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
</web-app>